.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:35.904000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs0{font-size:64.000000px;}
.y1f{bottom:84.728981px;}
.y5e{bottom:85.528030px;}
.y3f{bottom:85.883965px;}
.y1e{bottom:98.527981px;}
.y3e{bottom:99.682968px;}
.y1d{bottom:112.326981px;}
.y3d{bottom:113.481972px;}
.y5d{bottom:115.276980px;}
.y1c{bottom:126.125979px;}
.y3c{bottom:127.280972px;}
.y5c{bottom:141.075996px;}
.y3b{bottom:141.079971px;}
.y5b{bottom:154.874992px;}
.y3a{bottom:154.878970px;}
.y1b{bottom:155.875003px;}
.y5a{bottom:168.673996px;}
.y59{bottom:182.473000px;}
.y39{bottom:184.628006px;}
.y1a{bottom:185.623978px;}
.y58{bottom:196.271999px;}
.y57{bottom:210.070999px;}
.y38{bottom:214.376987px;}
.y19{bottom:215.372993px;}
.y56{bottom:223.869998px;}
.y18{bottom:229.171993px;}
.y37{bottom:240.176003px;}
.y17{bottom:242.970993px;}
.y55{bottom:253.619003px;}
.y36{bottom:253.975002px;}
.y16{bottom:256.769992px;}
.y35{bottom:267.774002px;}
.y34{bottom:281.573001px;}
.y15{bottom:282.569003px;}
.y54{bottom:283.368014px;}
.y14{bottom:308.368014px;}
.y53{bottom:309.167007px;}
.y33{bottom:311.322006px;}
.y52{bottom:322.966011px;}
.y13{bottom:334.167007px;}
.y51{bottom:336.765011px;}
.y32{bottom:341.070987px;}
.y12{bottom:347.966006px;}
.y50{bottom:350.564011px;}
.y4f{bottom:364.363009px;}
.y31{bottom:366.869995px;}
.y11{bottom:373.764992px;}
.y30{bottom:380.668995px;}
.y10{bottom:387.563988px;}
.y4e{bottom:394.112015px;}
.y2f{bottom:394.467995px;}
.yf{bottom:401.362991px;}
.y2e{bottom:408.266994px;}
.ye{bottom:415.161995px;}
.y4d{bottom:423.860995px;}
.yd{bottom:428.960995px;}
.y2d{bottom:434.927006px;}
.yc{bottom:442.759995px;}
.y2c{bottom:448.726006px;}
.y4c{bottom:449.659996px;}
.yb{bottom:456.558993px;}
.y2b{bottom:462.525004px;}
.y4b{bottom:463.459000px;}
.y4a{bottom:477.258003px;}
.ya{bottom:482.358005px;}
.y2a{bottom:489.185005px;}
.y49{bottom:491.057003px;}
.y29{bottom:502.984004px;}
.y48{bottom:504.856003px;}
.y9{bottom:508.156994px;}
.y47{bottom:518.655002px;}
.y8{bottom:521.955994px;}
.y28{bottom:529.643992px;}
.y7{bottom:535.754992px;}
.y46{bottom:548.403995px;}
.y27{bottom:556.304004px;}
.y6{bottom:561.554004px;}
.y45{bottom:578.153000px;}
.y26{bottom:582.103004px;}
.y5{bottom:591.302997px;}
.y25{bottom:595.902003px;}
.y44{bottom:607.902000px;}
.y4{bottom:621.052002px;}
.y43{bottom:621.701000px;}
.y24{bottom:625.651001px;}
.y42{bottom:635.500000px;}
.y41{bottom:649.298999px;}
.y3{bottom:650.801001px;}
.y23{bottom:655.400001px;}
.y2{bottom:664.600000px;}
.y1{bottom:678.399000px;}
.y40{bottom:679.048000px;}
.y22{bottom:681.199001px;}
.y21{bottom:694.998001px;}
.y0{bottom:705.063000px;}
.y20{bottom:708.797000px;}
.h3{height:32.531250px;}
.h2{height:33.351562px;}
.h1{height:44.468750px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:72.000000px;}
.x1{left:93.500000px;}
.x2{left:108.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:47.872000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:85.333333pt;}
.y1f{bottom:112.971975pt;}
.y5e{bottom:114.037374pt;}
.y3f{bottom:114.511953pt;}
.y1e{bottom:131.370641pt;}
.y3e{bottom:132.910624pt;}
.y1d{bottom:149.769307pt;}
.y3d{bottom:151.309296pt;}
.y5d{bottom:153.702641pt;}
.y1c{bottom:168.167973pt;}
.y3c{bottom:169.707962pt;}
.y5c{bottom:188.101329pt;}
.y3b{bottom:188.106628pt;}
.y5b{bottom:206.499990pt;}
.y3a{bottom:206.505294pt;}
.y1b{bottom:207.833337pt;}
.y5a{bottom:224.898661pt;}
.y59{bottom:243.297333pt;}
.y39{bottom:246.170675pt;}
.y1a{bottom:247.498637pt;}
.y58{bottom:261.695999pt;}
.y57{bottom:280.094666pt;}
.y38{bottom:285.835982pt;}
.y19{bottom:287.163991pt;}
.y56{bottom:298.493331pt;}
.y18{bottom:305.562658pt;}
.y37{bottom:320.234670pt;}
.y17{bottom:323.961324pt;}
.y55{bottom:338.158671pt;}
.y36{bottom:338.633336pt;}
.y16{bottom:342.359989pt;}
.y35{bottom:357.032003pt;}
.y34{bottom:375.430668pt;}
.y15{bottom:376.758671pt;}
.y54{bottom:377.824019pt;}
.y14{bottom:411.157352pt;}
.y53{bottom:412.222677pt;}
.y33{bottom:415.096008pt;}
.y52{bottom:430.621348pt;}
.y13{bottom:445.556010pt;}
.y51{bottom:449.020014pt;}
.y32{bottom:454.761316pt;}
.y12{bottom:463.954675pt;}
.y50{bottom:467.418681pt;}
.y4f{bottom:485.817346pt;}
.y31{bottom:489.159993pt;}
.y11{bottom:498.353322pt;}
.y30{bottom:507.558660pt;}
.y10{bottom:516.751984pt;}
.y4e{bottom:525.482686pt;}
.y2f{bottom:525.957326pt;}
.yf{bottom:535.150655pt;}
.y2e{bottom:544.355991pt;}
.ye{bottom:553.549327pt;}
.y4d{bottom:565.147994pt;}
.yd{bottom:571.947993pt;}
.y2d{bottom:579.902674pt;}
.yc{bottom:590.346659pt;}
.y2c{bottom:598.301341pt;}
.y4c{bottom:599.546661pt;}
.yb{bottom:608.745324pt;}
.y2b{bottom:616.700006pt;}
.y4b{bottom:617.945333pt;}
.y4a{bottom:636.344004pt;}
.ya{bottom:643.144006pt;}
.y2a{bottom:652.246674pt;}
.y49{bottom:654.742671pt;}
.y29{bottom:670.645339pt;}
.y48{bottom:673.141337pt;}
.y9{bottom:677.542658pt;}
.y47{bottom:691.540002pt;}
.y8{bottom:695.941325pt;}
.y28{bottom:706.191990pt;}
.y7{bottom:714.339990pt;}
.y46{bottom:731.205326pt;}
.y27{bottom:741.738672pt;}
.y6{bottom:748.738672pt;}
.y45{bottom:770.870667pt;}
.y26{bottom:776.137339pt;}
.y5{bottom:788.403996pt;}
.y25{bottom:794.536004pt;}
.y44{bottom:810.536001pt;}
.y4{bottom:828.069336pt;}
.y43{bottom:828.934667pt;}
.y24{bottom:834.201335pt;}
.y42{bottom:847.333333pt;}
.y41{bottom:865.731998pt;}
.y3{bottom:867.734667pt;}
.y23{bottom:873.866667pt;}
.y2{bottom:886.133334pt;}
.y1{bottom:904.532000pt;}
.y40{bottom:905.397334pt;}
.y22{bottom:908.265335pt;}
.y21{bottom:926.664001pt;}
.y0{bottom:940.084000pt;}
.y20{bottom:945.062667pt;}
.h3{height:43.375000pt;}
.h2{height:44.468750pt;}
.h1{height:59.291667pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.000000pt;}
.x1{left:124.666667pt;}
.x2{left:144.000000pt;}
}
